<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>TEXT</title>
</head>
<body bgcolor="lightblue">
<h1>Enter text to summarize:</h1>
   <form method="POST" action="/summarize">
       <div class="form-group">
           <textarea name="text" rows="15" cols="140">

           </textarea>
       </div>
       <input class="btn btn-primary" type="submit" value="Summarize">
   </form>
</body>
</html>