<!DOCTYPE html>
<html>
<head>

    <title>SUMMARY</title>
</head>
<body>
<div style="background-color:lightblue"> <h1>SUMMARIZED :<br></h1></div>

<fieldset style="background-color:yellow">
<legend><h2>Original Text</h2></legend>
<!--
    {% for i in text: %}
{% if(i=='\n') %}
    <br>
{%endif%}
{% if(i==' ') %}
{%endif%}
{% print i %}
{% endfor %}
--><font size="4">{{ text }}</font>
</fieldset>
<fieldset style="background-color:tomato">
    <legend><h2>Summary</h2></legend>
<font size="5">
{% for i in scam: %}
{% if(i=='\n') %}
    <br>
{%endif%}
{% if(i==' ') %}
{%endif%}
{% print i %}
{% endfor %}
.<br>
</font>
</fieldset>
<br><br>
<form method="POST" action="/">

       <input class="btn btn-primary" type="submit" value="Home">

   </form>
</body>
</html>